/* colors */
$text-color: #00194a;
$primary-color: #ff0043;
$white-color: #ffffff;
$start__background-color: #00194a;

/* breakpoints */
$xx-large: 1559px;
$x-large: 1335px;
$xs-large: 1125px;
$large: 992px;
$medium: 800px;
$small: 576px;
