.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: $medium) {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	&__text {
		font-size: 18px;
		font-weight: 400;

		@media screen and (max-width: $large) {
			font-size: 16px;
		}

		@media screen and (max-width: $medium) {
			font-size: 18px;
			margin-top: 25px;
		}
	}

	&__links {
		list-style: none;
		display: flex;
		align-items: center;
	}

	&__link {
		text-decoration: none;
		font-size: 16px;
		font-weight: 400;

		@media screen and (max-width: $large) {
			font-size: 14px;
		}

		@media screen and (max-width: $medium) {
			font-size: 16px;
		}

		&:after {
			content: '';
			display: block;
			width: 0;
			border-bottom: 3px solid $primary-color;
			margin: 4px auto 0;
			transition: all linear 200ms;
		}

		&:hover:after {
			width: 100%;
		}
	}

	li + li {
		margin-left: 30px;

		@media screen and (max-width: $medium) {
			margin-left: 60px;
		}
	}
}
