.info {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 160px;

	@media screen and (max-width: $large) {
		margin-bottom: 140px;
	}

	@media screen and (max-width: $medium) {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		margin-bottom: 45px;
	}

	&__content {
		max-width: 466px;
		margin-left: 180px;

		@media screen and (max-width: $xx-large) {
			margin-left: 80px;
		}

		@media screen and (max-width: $x-large) {
			margin-left: 70px;
		}

		@media screen and (max-width: $large) {
			margin-left: 60px;
		}

		@media screen and (max-width: $medium) {
			max-width: 590px;
			margin-left: 0px;
		}

		@media screen and (max-width: $small) {
			max-width: 600px;
		}
	}

	&__title {
		font-size: 35px;
		font-weight: 500;
		line-height: 50px;
		margin-bottom: 30px;

		@media screen and (max-width: $xx-large) {
			font-size: 25px;
			line-height: 40px;
		}

		@media screen and (max-width: $x-large) {
			font-size: 20px;
			line-height: 35px;
		}

		@media screen and (max-width: $large) {
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 20px;
		}

		@media screen and (max-width: $medium) {
			font-size: 35px;
			line-height: 50px;
			text-align: center;
		}

		@media screen and (max-width: $small) {
			font-size: 25px;
			line-height: 40px;
		}
	}

	&__text {
		font-size: 18px;
		font-weight: 200;
		line-height: 28px;

		@media screen and (max-width: $large) {
			font-size: 16px;
			line-height: 25px;
		}

		@media screen and (max-width: $medium) {
			font-size: 18px;
			line-height: 28px;
			text-align: center;
		}

		& + & {
			margin-top: 30px;

			@media screen and (max-width: $large) {
				margin-top: 20px;
			}

			@media screen and (max-width: $medium) {
				margin-top: 15px;
			}

			@media screen and (max-width: $small) {
				margin-top: 10px;
			}
		}
	}

	&__img {
		@media screen and (max-width: $xx-large) {
			max-width: 500px;
		}

		@media screen and (max-width: $x-large) {
			max-width: 450px;
		}

		@media screen and (max-width: $large) {
			max-width: 370px;
		}

		@media screen and (max-width: $medium) {
			max-width: 270px;
			margin-bottom: 20px;
		}
	}
}
